
.navbar {
    background-color: rgb(182, 121, 22)
}


.col-md-8 {
    background-color: white;
}
.hs {
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}

body {
    background-image: url("cool-background.png");
}
