

.navbar {
    background-color: rgb(182, 121, 22)
}


.col-md-8 {
    background-color: white;
}
.hs {
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}

body {
    background-image: url("rsz_pexels-dmitry-demidov-3784566.png");
}

h2 {
    color: rgb(218, 90, 44);
    text-align: left;
}

p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio {
    margin-top: 25px;
    margin-left: 80px;
}

.col-md-4 {
    padding-left: 25px;
    padding-right: 25pc;
}

.contact {
    margin-left: 100px;
}

.form-group {
    padding-left: 100px;
    
}

.btn{
    margin-left: 100px;
}

.form-group {
    padding-right: 25px;
}